/* Your style rules go here: */

body {
    font-family: Arial;
}

#allContent {
    margin-top: 40px;
    width: 960px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#note {
    border: 1px solid black;
    padding: 20px;
    background-color: #0EE;
}

li {
    line-height: 1.5em;
}